<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>calendar</title>
	 <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>
<body>
<a href="/calendar/<%= session[:name] %>"><h1>Calendarに戻る</h1></a>
  <p><%= @year %>年<%= @month %>月<%= @date %>日の予定</p>
  <p><% @tasks.each do |task| %></p>
    <p><%= task.title %></p>
  <% end %>
</body>
</html>
